	<meta http-equiv=Content-Type content=text/html;charset=UTF-8>
	<title>{$title}</title>

	<link rel=stylesheet type=text/css href="templates/wowdb/css/main.css">
	<!--[if IE 7]><link rel="stylesheet" type="text/css"  href="templates/wowdb/main_ie7.css" /><![endif]-->
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css"  href="templates/wowdb/main_ie6.css" /><![endif]-->

	
