	<div id=footer>
{if $mysql}
		Mysql Queries: {$mysql.count}<br>
		Time taken: {$mysql.time}
{/if}
	</div>
</div>
</div>
<!--[if lte IE 6]></td><th class="ie6layout-th"></th></tr></table><![endif]-->
</body>
</html>
