	<title>{if $page.title}{$page.title} - {/if}{$app_name}</title>
	<meta http-equiv=Content-Type content="text/html;charset=UTF-8">
	<script src="templates/wowhead/js/locale_{$language}.js" type="text/javascript"></script>

	<link href="templates/wowhead/css/locale_{$language}.css" type="text/css" rel=stylesheet>
	<link href="templates/wowhead/css/global.css" type="text/css" rel=stylesheet>
{if $css_Mapper}
	<link href="templates/wowhead/css/Mapper.css" type="text/css" rel=stylesheet>
{/if}
	<!--[if IE]><link href="templates/wowhead/css/global_ie.css" type="text/css" rel=stylesheet><![endif]-->
	<!--[if lte IE 6]><link href="templates/wowhead/css/global_ie6.css" type="text/css" rel=stylesheet><![endif]-->
{if $css_Mapper}
	<!--[if lte IE 6]><link href="templates/wowhead/css/Mapper_ie6.css" type="text/css" rel=stylesheet><![endif]-->
{/if}

	<script src="templates/wowhead/js/global.js" type="text/javascript"></script>
	<script src="templates/wowhead/js/Markup.js" type="text/javascript"></script>
{if $js_Mapper}
	<script src="templates/wowhead/js/Mapper.js" type="text/javascript"></script>
{/if}

	<script type="text/javascript">
		var g_serverTime = new Date('{$smarty.now|date_format:"%Y/%m/%d %H:%M:%S"}');
		g_locale = {ldelim} id: {$locale}, name: '{$language}' {rdelim};
{if $user}
		g_user = {ldelim} id: {$user.id}, name: '{$user.name}', roles: {$user.roles}, permissions: {$user.perms} {rdelim};
{/if}
	</script>
