{config_load file="$conf_file"}
<html>

<head>
{include file='head.tpl'}
	<style type="text/css">
		{literal}.menu-buttons a { border-color: black }{/literal}
	</style>
</head>

<body>
	<div id="layers"></div>
	<noscript><div id="noscript-bg"></div><div id="noscript-text"><b>{#js_err#}</div></noscript>

	<div id="home">

	<h1>{$title}</h1>

	<span id="h43jv6jk346" class="menu-buttons"></span>
	<script type="text/javascript">
		Menu.addButtons(ge('h43jv6jk346'), mn_path);
	</script>

	<div class="pad"></div>

	<div id="toplinks" class="toplinks">
	{if $user}
		<a href="?user={$user.name}">{$user.name}</a>|<a href="?account=signout">{#Sign_out#}</a>
	{else}
		<a href="?account=signin">{#Sign_in#}</a>
	{/if}
	</div>

	<form method="get" action="./" onsubmit="if(trim(this.elements[0].value).length == 0) return false">
		<input type="text" name="search" size="38" id="kghjklvhj43v6"><input type="submit" value="{#search#}">
	</form>

	<script type="text/javascript">ge('kghjklvhj43v6').focus()</script>

</body>

</html>
