* {
	zoom: 1;		
}
.infobox-container
{
	position: relative;
	
}
.infobox-spacer
{
	display: none;
}
.infobox-container *, .tabs *
{
	zoom: normal;
}
.infobox-container .content-panel
{
	width: 350px;
}
.infobox-container .infobox
{
	width: 100%;
}
#menu-bg-l, #menu-bg-r 
{
	display: none;
}
#spanBookmarks
{	
	float: none;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 11px;
}
#searchform
{
	white-space:nowrap; 
	position: relative;
	top: 10px;

}
#divSearchInput
{
	position: absolute;
	float: none;
	padding-top: 0px;	
	bottom: 0px;
	right: 0px;
	height: 35px;
}
.alert em, .alert var, .alert strong, .menu em, .menu var, .menu strong {
    display: none;        
    background: none;
}
.iconmedium, .iconsmall, .iconlarge
{
	position: relative;	
}
.iconsmall  .tile  { background-image: url(images/icon_border_s.gif) }
.iconmedium .tile  { background-image: url(images/icon_border_m.gif) }
.iconlarge  .tile  { background-image: url(images/icon_border_l.gif) }
.iconsmall  .hilite { background-image: url(images/icon_highlight_s.gif) }
.iconmedium .hilite { background-image: url(images/icon_highlight_m.gif) }
.tooltip
{
	width: 300px;
}
.tooltip td, .tooltip th { background-image: url(images/tooltip.gif) }

#divMainBGRight
{
	right: -1px;
}

#divMain.noads
{
	padding: 10px;
	margin: 0px;
}
#divMainWrapper {

	padding: 0px;	
	position:relative;
	height: 200px;
}
#divMainContents
{
 padding: 0px;
 padding-left: 10px;
 padding-top: 10px;
}
#detailsIcon
{
	float: none;
	position: absolute; top: 54px; left: 0px;
}
#detailsTooltip
{
	margin-left: 34px;
}
.content-panel
{	
	width: 100%;	
	position: relative;
	z-index: 1000;

}
#previewThumbnailContainer
{
	height: 200px;
}

html,body
{
	height: auto;	
}
#main-layout
{

	height: 1100px;
}
#main-layout-center
{
	position: relative;
    display: block;
    min-width: 980px;
}
#comment_body
{
	height: 120px;
}
.menu a {
	min-width: 90%;
}
.spanMenuButtons
{
	padding-top: 12px;
}

.listview th a {
	width: 100%;
}

.tabs-container {
	width: 100%;
}

.reputation {
	width: 99%;
}

.tooltip th {
	height: 8px;
}
.smallTab span, .smallTabSelected span 
{
    position: relative;
    top:1px; 
    padding:0 0 0 4px; 
    margin-left: 2px;
    margin-right: 2px;
    line-height: 15px;
}

#divSearchInput button
{
	position:static;	
}
#divSearchInput input
{
	position: relative;
	top: -2px;
}
#divSearchInput select
{
	top: 1px;
}
#spanBookmarks
{
	top: 1px;
}


button { 	        
	padding: 0 9px 0 0; 	        
    font-size: 11px !important;     
    width:auto; 
    overflow:visible; 
}
button span 
{	
	padding:0 0 0 10px; 
	height:20px; 
	line-height:20px;          
	margin-top:1px; 
}
#divBrowsePathRight {
	margin-top: -4px;
}

#pinSideSelect
{
	height: auto;
}
.buttonContainer table
{
	table-layout:fixed;
}
.buttonContainer table td
{

	text-align: center;	
}