/* Ported to the New UI */

html,body
{
	height: 100%;
}
body 
{	
	background-color: #03080E;
	margin: 0;		
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: white;	
}

a 
{    
	color: #FFBB00;
	cursor: pointer;
    text-decoration: underline;
}

a:hover {
	color: white;
}

a.selected, a.selected:hover {
	cursor: default;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a.open {
	color: white;
}

form {
	padding: 0;
	margin: 0;
	display: inline;
}

img, iframe {
	border: 0;
}

small {
	font-size: 11px;
}
h1 small 
{
	font-weight: normal;
	font-family: Arial;	
}
.clear {
	clear: both;
}
.main-tracker, .main-tracker img
{
	display: none;	
}
#main-layout
{    
    border-collapse: collapse;                           
    margin: 0;
    padding: 0px;
    border: none;    	        
    width: 100%;
    height: 100%;
    
}
#main-layout td
{
    vertical-align: top;
}        
#main-layout-center
{

    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;     
    min-width: 980px;

}

#main-layout-l
{            
    width: 12%;
    background: #03080E url(../images/bg_l.jpg) top right;
}        
#main-layout-r
{
    background: #03080E url(../images/bg_r.jpg) top left;
    width: 12%;            
}
#main-bg-l, #main-bg-r
{
    
    height: 350px;         
}
#main-bg-l
{
   background: url(../images/bg_l_t.jpg) top right no-repeat;
}
#main-bg-r
{
  background: url(../images/bg_r_t.jpg) top left no-repeat;
}
#main-bg-l img
{
    position: absolute;
    top: 0px;
    right: 0px;
}
#main-bg-r img
{
    position: absolute;
    top: 0px;
    left: 0px;
}
#menu-bg-l, #menu-bg-r
{
    position: absolute;            
    width: 11px;
    height: 39px;
    background: url(../images/bg_menu_shadow.png) repeat-y;
}
#menu-bg-l
{
    top: 0px;
    left:0px;
}
 #menu-bg-r
{
    top: 0px;
    right:0px;
    background-position: -11px 0px;
}
#divRegisterMenu
{
    position: absolute;
    bottom: 8px;
    right: 334px;
}
textarea.themed
{
	background: #18385B url(../images/bg_input.gif) repeat-x;
	-moz-box-sizing: border-box;
    border: 1px solid #B0A33A ;
    color: #ffffff;
    font-size: 13px;    
    font-family: Arial;
    padding-left: 5px;
    padding-top: 2px;
}
input[type=text], input[type=password], select
{
    /* border: 1px solid #A7A6AA; */
	background: #18385B url(../images/bg_input.gif) repeat-x;	
    border: 1px solid #B0A33A ;
    color: #ffffff;
	font-size: 13px;
    padding-left: 5px;
    font-family: Arial;
    -moz-box-sizing: border-box;
}
select
{
	padding: 0px;
}
.searchFieldRarity
{
    background-color: #181818;
    background-image: none;
}
#spanBookmarks
{	    
    padding-right: 0px;    
    padding-left: 14px;        
    float: left;
    position:relative;
    width: 188px;		    
    text-align:center;
    font-size: 11px;
    line-height: 20px;     
    
}
#spanBookmarks select
{
	width: 130px;
	font-size: 11px;
	position: relative;
	height: 18px;
	top: -1px;
		
}
#spanBookmarks small
{
	font-size: 10px;
}
#spanBookmarks select option
{
	position: relative;
	width: 150px;
}
#divSearchInput
{
    float: right;
    padding-top: 100px;
    padding-right: 19px;
    padding-bottom: 5px;
    padding-left: 0px;
    background: transparent url(../images/bg_tsearch.gif) bottom right no-repeat;
    margin-right: 8px;
    width: 485px;
    text-align:right; 
}
#divSearchInput input
{            
    -moz-box-sizing: border-box;
    border: 1px solid #B0A33A ;
    /* B0A33A */
    /* #C3AE74 */
    background: #18385B url(../images/bg_input.gif) repeat-x;
    color: #ffffff;
    font-size: 13px;
    padding-left: 5px;
    font-family: Arial;
    /* height: 20px; */
    width: 203px;            
    margin-right: 5px;            
}
#divSearchInput button
{
	position: relative;
    top: -1px;
}
#divAdContainerTop, #divAdContainerTop iframe
{
	background: black url(../images/bg_t.gif);
    position: absolute;
    top: 0px;
    right: 0px;            
    width: 728px;
    height: 90px;
}

#noscript-bg {
    background-color:black;
    height:100%;
    left:0pt;
    opacity:0.7;
    position:fixed;
    top:0pt;
    width:100%;
    z-index:9999;
}
#noscript-text {
	font-size:18px;
	left:0pt;
	line-height:1.5em;
	padding-top:70px;
	position:absolute;
	text-align:center;
	top:30%;
	width:100%;
	z-index:10000;
}
#divHeaderLogo h1 {
	position: absolute;
	left: -2323px;
	top: -2323px;
}
#divHeader {
	position: relative;
    height: 128px;    	
	background: black url(../images/bg_t.gif) top left repeat-x;
}

#divHeaderLogo {
	position: absolute;
	left: 0;
	top: 0px;
	background: url(../images/logo.jpg) bottom center no-repeat;	
}
#divHeaderLogo a {
	display: block;
	width: 220px;
	height: 128px;
	border: 0;
}
#divTopbar {
	position: relative;
	background: url(../images/bg_menu.jpg) top left repeat-x;	
	height: 39px;
}
#divTopbarMenuRight
{
	position: absolute; top: 0px; right: 0px;
	text-align: right;		
	width: 300px;	
}
#divLoginOptions
{
	padding-top: 12px;	
	padding-right: 20px;
	font-size: 12px;
	font-weight: bold;
	display: none;	
}
.spanMenuLink
{
	white-space: nowrap;	
}

#divTopbarMenuRight a
{
	text-decoration: none;
	
}
.spanMenuButtons
{
	padding-left: 8px;
	padding-top: 11px;
	padding-bottom: 11px;
	
}
#divRegisterMenu
{
	padding-top: 10px;
}
.menuWelcomeMessage
{	
	font-family: Arial !important;
	font-weight: normal !important;
	text-transform: none !important;
	font-size: 11px !important;
	position:relative;
	top: -1px;
	color: #ffffff !important;	
}
.menuWelcomeMessage span
{

}
a:hover.menuWelcomeMessage
{
	color: #ffffff !important;
}
#spanUserMenu
{
	width: 300px;
}
#spanUserMenu a
{
	/* background: url(../images/menu_div.gif) no-repeat scroll left center !important;
	padding-left: 20px; */
	
}
.spanMenuButtons a {
	text-transform: uppercase;
	font-size: 12px;		
	font-family: Times New Roman;
	text-decoration: none;
	color: #EDEDED;			
	font-weight: bold;
	background: url(../images/menu_div.gif) no-repeat scroll right center;
	padding-right: 20px;
	padding-left: 12px;
}
.spanMenuButtons a.last
{
	background: none;
	padding-right: 4px;
}
.spanMenuButtons a:hover {
	/* text-decoration: underline; */	
	color: #ffffff;
	color: #FFBB00;
}

.spanMenuButtons a.open {
	
	
}
    button 
    {
		position:static;	
        border: none;
        cursor:pointer; 
        font-weight: bold;   
        padding: 0 7px 0 0; 
        text-align:center; 
        text-transform: uppercase;
        font-size: 11px !important;
        font-weight: bold;       
        font-family: Arial !important; 
        background:url(../images/bg_btn_r.gif) right no-repeat; 
        width:auto; 
        overflow:visible; 
        line-height:19px;
        z-index: 1;
    }
    button span { 
		position:static; 
		display:block; 
		white-space:nowrap; 
		padding:0 0 0 10px; 
		height:19px; 
		line-height:19px;
		background:url(../images/bg_btn_l.gif) left no-repeat;
		color:#fff; 
		margin-top:0px;
    }

	button:hover {
		background:url(../images/bg_btn_r_h.gif) right no-repeat;    
	}
	button:hover span 
	{
		background:url(../images/bg_btn_l_h.gif) left no-repeat;   
	}

#divWrapper {	

	min-width: 980px;
	min-height: 800px;
	position: relative;	
}

#divWrapper.noads {
	min-height: 0;
}

#divMain 
{		
	-moz-box-sizing: border-box;
	padding: 10px 0 10px 10px;		
}

#divMain.noads
{
	padding: 10px;
	margin: 0px;
}

#divMainWrapper {	
	background: #16191E url(../images/bg_main.jpg) repeat-x;		
	position: relative;	
	padding-bottom: 60px;
	min-height: 700px;
}
#divMainFooter
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 60px;
	width: 100%;	
	background: transparent url(../images/bg_main_b.gif) repeat-x;
	z-index: 0;
}

#divMainWrapper.noads {
	min-height: 0;
}
#divMainContents
{
	position: relative;
	z-index: 1;		
	padding: 10px;
}

#divBrowsePathRight {
	float: right;
	font-size: 12px;
	margin-top: -2px;
}

.divBrowsePathLeft {
	cursor: default;
	font-size: 12px;
	padding: 0 0 10px 20px;
	background: url(../images/breadcrumb_logo.gif) left 0px no-repeat;
}
#divMainBGLeft,#divMainBGRight
{
	z-index: 0;
	position: absolute;
	width: 36px;
	height:36px;
	top: 0px;	
	z-index: 0;
}
#divMainBGLeft
{	
	left: 0px;
	background: url(../images/bg_main_t.jpg);
	z-index: 0;
}
#divMainBGRight
{	
	right: 0px;
	background: url(../images/bg_main_t.jpg);
	background-position: -36px;
	z-index: 0;
}
#divMainBGBLeft,#divMainBGBRight
{
	z-index: 0;
	position: absolute;
	width: 36px;
	height:36px;
	bottom: 0px;	
	z-index: 0;
}
#divMainBGBLeft
{	
	left: 0px;
	background: url(../images/bg_main_blr.jpg);
	z-index: 0;
}
#divMainBGBRight
{	
	right: 0px;
	background: url(../images/bg_main_blr.jpg);
	background-position: -36px;
	z-index: 0;
}

#pageFooter
{    
    text-align: center;
    color: #728A96;
    font-size: 10px;    
    padding-bottom:10px;
    
}
#pageFooter A
{
    padding: 4px;
}
#pageCopyright
{
    padding-top: 6px;
    font-size: 12px;
}

.btnPaging
{	
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
}
.btnNext,.btnNextDis
{	
	padding-right: 24px;
	background: transparent url(../images/bg_btn_next.gif) center right no-repeat;	
}
.btnPrev,.btnPrevDis
{	
	padding-left: 24px;
	background: transparent url(../images/bg_btn_prev.gif) center left no-repeat;		
}
.btnPrevDis
{
	background-image: url(../images/bg_btn_prev_dis.gif);	
	color: #505050 !important;
}
.btnNextDis
{	
	background-image: url(../images/bg_btn_next_dis.gif);	
	color: #505050 !important;
}


/* Tabs CSS */

.tabs {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 13px;
	-moz-user-select: none;	
}

.tabs li {
	float: left;
	margin-right: 2px;
	height: 30px;
	overflow: hidden;
}

.tabs a 
{
    
	float: left;
	position: relative;
	display: block;
	height: 30px;
	text-decoration: none;
	white-space: nowrap;
	background: transparent url(../images/bg_tab_r.gif) no-repeat top right;	
	padding-right: 20px;	
	
	font-size: 12px;
	
	/*color: #AFB2B5 !important;  
	font-weight: bold;*/

	
}

.tabs a:hover {
	/* color: #dddddd !important; */
}

.tabs a.selected, .tabs a.selected:hover 
{
    color: white !important;
    background-image: url(../images/bg_tab_r_sel.gif);
}
.tabs b {
	padding: 0 5px;
	display: block;
	visibility: hidden;
}

.tabs div {
	position: absolute;
	left: 0;
	top : 0;
	padding-left: 16px;
	padding-top: 2px;
	text-align: center;
	line-height: 30px;
	background: url(../images/bg_tab_l.gif) top left no-repeat;
	color: inherit !important;	
}
.tabs a.selected div
{
	   background-image: url(../images/bg_tab_l_sel.gif);
}
.tabs-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: none;
	padding-left: 10px;	
}

.tabs-levels {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.tabs-level {
	position: relative;
	width: 100%;
	height: 30px;
	overflow: hidden;
}

.tabs-level ul {
	position: absolute;
	left: 0;
}

.tabbed-contents {
	border: 1px solid #507484;
	background-color: #061118;
	/* background-color: #0E1B24; */
	padding: 8px;
	clear: both;
	/* background: transparent url(../images/bg_menu_trans.png); */
	
}


/* Content Panel CSS */
.content-panel
{
    position: relative;
    overflow: hidden;
    /*background-image: url(../images/bg_cp.jpg);            
    background-position: 0px 30px; */
}
.content-panel-bg
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_cp.jpg);            
    margin-top: 10px;
    top: 0px;
    left: 0px;
}
.content-panel-wrapper
{
	position:relative;
    color: white;
    padding: 20px;    
    min-width: 100px;
    min-height: 60px;
    z-index: 10;
    
}
.content-panel-r
{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 13px;
    height: 100%;            
    background-image: url(../images/bg_cp_r.jpg);
    
    z-index: 0;
}
.content-panel-b
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 58px;
    background-image: url(../images/bg_cp_b.gif);            
    z-index: 1;
}
.content-panel-br
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 42px;
    height: 58px;
    background-image: url(../images/bg_cp_br.gif);
    z-index: 1;
}
.content-panel-t
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 98.25%;
    height: 23px;
    background-image: url(../images/bg_cp_t.gif);            
    z-index: 1;    
    
}
.content-panel-tr
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 21px;
    height: 23px;
    background-image: url(../images/bg_cp_tr.gif);
    z-index: 1;
    
}

/* Other CSS */
.buttonContainer td
{
	vertical-align: top;
}

#tableScreenshotInfoTop tr td
{
	width: 33%;
}
.ss-container
{
	background-color: #061118;
	border: 1px solid #507484;
	padding:8px;
}
.ss-caption
{
	font-weight: bold;
	padding-bottom: 8px;
	
}
.ss-image
{
	text-align: center;
	padding-top: 4px;
}
.ss-image img
{
	border:3px solid #0A1B26;
	cursor: pointer;
}
.ss-from
{
	font-size: 11px;	
	padding-bottom: 8px;
}
.ss-from a
{
	
}


/* Un-ported CSS */
.smallButton[disabled]
{
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
}
.smallButton[disabled]:hover {
    background:url(../images/bg_btn_r.gif) right no-repeat;
}
.smallButton[disabled]:hover span {
     background:url(../images/bg_btn_l.gif) left no-repeat;
    
}
#hiddenFrame
{
    display: none;
}
.framed
{   
    border:3px solid #3A4759;
}
.button[disabled]
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.button[disabled]:hover
{
    background: url(../images/bg_button.gif) repeat-x; 
}


/* Alert CSS */
#alert_overlay {
    background-color: black;
    -moz-opacity: .5;
    opacity: .5;
    filter: alpha(opacity=50);
    top: 0; left: 0; position: fixed;
    width: 100%; height:100%; z-index: 1000;
    
    
}
.alert
{
    /* padding: 4px 4px 4px 4px;
    border: 3px solid #404040;
    */
    width:340px; position: absolute;
    top: 800px; left: 500px;
    z-index: 10001;            
}
.alert .content-panel-t
{
	/* width: 330px; */
}
.alert .buttons
{        
    text-align: center;
    font-weight: normal;    
    margin-top: 8px;
}
.alert table
{
	border-collapse: collapse;
}
.alert td
{
	vertical-align: top;
	
}
.alert div div
{
    border: 0px;
    text-align: center; font-size: 12px;
    font-weight: bold;
    padding: 0px 8px 0px 8px;    
}

.alertInput
{
    text-align: left !important;    
    padding: 0px 0px 8px 2px !important;    
    font-weight: normal !important;    

}
.alert span
{
    /*float: left;
    display: block; */
}
.alert input,.alert select
{            
    width: 220px;
    
}
.alert a
{   
    text-decoration: underline;
    font-size: 11px;       
}
.alert h2
{    
    border-bottom:1px solid #374953;
    clear:both;
    color:#598CB8;
    font-size:16px;
    font-weight:bold;
    line-height:1.2em;
    margin:0pt 0pt 10px;
    padding:0px 0pt 3px;
    text-align: center;
    font-family: Times New Roman;
}

.alert em, .alert var, .alert strong {
    display: block;
    position: absolute;
    background: url(../images/menu_shadow.png) no-repeat;
    
}

.alert .desc
{
	float: left;	
	font-weight: normal;
	padding: 2px 0px 0px 0px;
	text-align: left;
	color:#999999;
	font-size:11px;	
}
.alert .label
{
	font-weight: normal;
	text-align: left;
	padding: 0px 6px 6px;
}

.alert em {
    width: 5px;
    top: 0;
    bottom: 0;
    right: -5px;
    background-position: right top;
}

.alert var {
    width: 5px;
    height: 6px;
    right: -5px;
    bottom: -6px;
    background-position: right bottom;
}

.alert strong {
    height: 6px;
    left: 0;
    right: 0;
    bottom: -6px;
    background-position: left bottom;
}

/* Details Page CSS */

.details-icon,#detailsIcon
{
	float: left;
}
#detailsTooltip
{
	float: left; padding-top: 1px; visibility: visible;display: block;
	max-width: 330px;
}

#divPostConfirmation
{    
    display: none;
    color: White;
    font-weight: bold;
    padding-top: 4px;
}

.article-source
{    
    font-size: 10px;
    background: no-repeat;
    padding: 4px 0px 4px 24px ;
    color: #9D9D9D;
    margin-top: 4px;
}
.text .spacer
{
    padding-bottom: 2em;
    clear: left;
}
.text .spacerSmall
{
    padding-bottom: 1em;
    clear: left;
}
.text {
    color:#CCCCCC;
    /*
	Commented out to fix button issue
	line-height:1.4em; */
    line-height:18px;
    font-size: 13px;
}
.text h1 
{
	font-family: Times New Roman;
    border-bottom:1px solid #274353;
    color:white;
    font-size:23px;
    font-weight: bold;
    line-height:1.1em;
    margin:0pt 0pt 13px;
    padding:0pt 0pt 5px;        
}

.text h2 {
    font-family: Times New Roman;
    border-bottom:1px solid #274353;
    clear:both;
    color:white;
    font-size:18px;
    font-weight:normal;
    line-height:1.25em;
    margin:0pt 0pt 13px;
    padding:26px 0pt 3px;
}    
.text h3 {
	color: white;
	font-size: 14px;
	padding: 0;
	margin: 1.5em 0 0.5em 0;
}
.infobox-container
{
	float:right;
}
.infobox 
{
	/* 
    background-color:#181818;
    border:1px solid #404040;
    border-collapse:collapse;
    float:right; 
    margin:0pt 0pt 10px 10px;
	*/
	margin-top: -5px;			
	
	
}
.infobox th 
{
	font-family: Times New Roman;
    color:#598CB8;
    font-size:16px;
    font-weight:bold;
    /* padding:7px 6px; */
    text-align:left;
    border-bottom: 1px solid #374953;
}
.infobox td {
    font-size:13px;
    line-height:1.75em;
    /* padding:0pt 12px 12px; */
    /* white-space:nowrap; */
}
.infobox-spacer {
    /* background-color:#181818; */
    height:1px;
    width:200px;
}
.infobox ul {
    margin:0pt;
    padding-left:16px;
}
.infobox li 
{
	list-style-image: url(../images/bg_bullet.gif);        
}   
.infobox li div {    
    color:white;
}
.infobox .indent
{
    padding-left: 0px;
}

.quest-series
{
	line-height:1.5em;
    border-collapse:collapse;                
}
.quest-series th 
{
    padding:0.2em 10px 0pt 0pt;
    font-family:Arial;
    font-weight:normal;        
    text-align:right;
    vertical-align:top;
    color: White;
    font-size: 12px;
    border: none;
}
.quest-series td {
    padding:0pt;         
}
.quest-objectives, .itemset-list
{
    margin-top: 4px;
}
.grid-table-icons div
{		
	padding: 0pt !important;
}
.grid-table
{
	background-color: #061118;
    border:1px solid #507484;
    border-collapse:collapse;
    clear:both;
    width:100%;        
    
}
.grid-table td, .grid-table th {
    border-color:#507484;
    border-style:solid;
    border-width:1px;
}
.grid-table td {
    color:#DDDDDD;
    font-size:13px;
    padding:4px;        
}
.grid-table td div
{
	
}
.grid-table th {
    color:white;
    font-weight:normal;
    padding:4px;
    text-align:left;
    vertical-align:top;
    white-space:nowrap;
}
.grid-table2
{
    background-color:#181818;
    border:3px solid #404040;
    border-collapse:collapse;
    clear:both;
}
.grid-table2 td, .grid-table2 th {
    border-color:#404040 rgb(40, 40, 40);
    border-style:solid;
    border-width:1px;
}
.grid-table2 td {
    color:#DDDDDD;
    font-size:13px;
    padding:4px;
}
.grid-table2 th {
    color:white;
    font-weight:normal;
    padding:4px;
    text-align:left;
    vertical-align:top;
    white-space:nowrap;
}    
.quest-objectives li
{
    list-style: square;
    list-style-position: inside !important;
    color: #c3030b;                
    margin-left: 12px !important;                        
    list-style-image: url(../images/bg_bullet.gif);
	color: white;
    
} 
 .quest-objectives .li
{         
    width: 30px;                      
}
.quest-objectives small
{         
    position: relative;
    padding-left: 6px;              
    top: 2px;
    
}
.quest-objectives td    
{
    color: White;     
            
}
.quest-objectives table
{
    padding: 0px;        
    border-spacing: 0px;
    border-collapse:collapse;
    margin-top: 2px;
    
    
}
.quest-objectives table td
{
    padding: 0px;
    
    
}


.text b {
	color: white;
}

.text ul, .text ol {
	margin: 1em 0;
	padding-left: 26px;
}

.text ul.first, .text ol.first {
	margin-top: 0;
}

.text ul.last, .text ol.last {
	margin-bottom: 0;
}

.text ol li {
	color: #E5CC80;
}

.text ul li 
{		
	list-style-image: url(../images/bg_bullet.gif);
	color: white;
}

.text li {
	list-style-position: outside;
	line-height: 1.75em;
}

.text ol li div, .text li div {
	color: white;
}
.filters
{
    
}
.filters table
{
    border-collapse: collapse;
    
}
.filters td
{
    padding-top:12px !important;
    white-space:nowrap;
}
.filters .nopad
{
    padding-top: 0px !important;
}
.filters #tableAdditionalFilters
{
    
}
.filters .label
{
	line-height: 24px;
	
}
.filters #tableAdditionalFilters td
{
    padding-top: 0px !important;
    padding-bottom: 4px;
    padding-right: 4px;
}
.editor-buttons, .filters-buttons
{
    padding: 6px 0px 6px 0px;
}
.editor-input
{
    padding: 4px 0px 0px 0px;
    font-size: 11px;   
    color: White; 
}
.editor-input input,.editor-input select
{    
    padding-left: 2px;
}
.editor-preview
{
    min-height: 100px;
    display: none;
}
.editor-mode-links a {
    padding:0pt 5px;
}
.editor-mode-links {
    font-size:11px;
}
.comment ol li div, .comment li div 
{    
    color:#DDDDDD;
    font-weight: normal;
}
.comment ul, .comment ol {
    margin: 1em 0pt;
    padding-left:26px;
}
.comment ol li
{ 
    color: White;
}
.comment ul li {
    list-style-image: url(../images/bg_bullet.gif);
}
.comment li {
    line-height:1.75em !important;
    list-style-position:outside;
}



.article table
{
	
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-spacing: 0px;
    width: 100%;  		
}
.article table td
{
    padding: 2px 8px 2px 0px;        
}
.article li.indent1, .article li.indent
{
    margin-left: 24px;
}
.article li.indent2
{
    margin-left: 48px;
}
.article li.indent3
{
    margin-left: 72px;
}
.article ul
{
    margin-top: 2px;
}
.article table td ul
{
    margin-top: 0px;
}
.article table th
{
    font-size: 90%;
    white-space: nowrap;
    padding: 4px 8px 2px 0px;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid #505050;
}
.article table tr
{
    vertical-align: top;
        
}
.article h3
{
    border-bottom:1px solid #274353;
    padding: 0px 0px 4px 0px;
}
.article h4
{
	border-bottom:1px solid #274353;
    padding: 0px 0px 2px 0px;
    margin-bottom: 6px;
    color: White;
}
.article h5
{    
	border-bottom:1px solid #274353;
    margin: 0px;
    color: White;
    font-size: 100%;
}
.text h2.first, .text h3.first {
	padding-top: 0;
	margin-top: 0;
}
.text h2.short, .text h3.short {
	padding-top: 0;
	margin-top: 5px;
}

.text h1 span.sub, .text h2 span.sub, .text h3 span.sub {
	display: block;
	font-weight: normal;
	font-size: 12px;
	color: #707070;
}

.tip {
	border-bottom: 1px dotted #598CB8;
	cursor: help;
}


#header-ad {
	position: absolute;
	right: 0;
	width: 728px;
	padding-top: 10px;
	background: url(../images/ads.gif) center top no-repeat;
}

.tbodyResultsList  a
{
    text-decoration:none;
}

#tableLoginBar
{
    background-color: #000000;   
    color: #ffffff;
    font-family: Arial;
    font-size: 10pt;    

    padding-bottom: 0px;
    width: 100%;        
    z-index: 0;
}
#loginBar A
{
    color: #ffcc00;
}


.locationtype_1,
.locationtype_2,
.locationtype_3,
.locationtype_4,
.locationtype_5,
.locationtype_6{
    background:transparent no-repeat scroll 0%;
    padding-left:19px;    
}

.locationtype_1
{
    background-image: url(../images/icon_location_type_1.gif);
}
.locationtype_2
{
    background-image: url(../images/icon_location_type_2.gif);
}
.locationtype_3
{
    background-image: url(../images/icon_location_type_3.gif);
}
/*
.locationtype_4
{
    background-image: url(../images/icon_location_type_4.gif);
}
*/
.locationtype_5
{
    background-image: url(../images/icon_location_type_5.gif);
}
.locationtype_6
{
    background-image: url(../images/icon_location_type_6.gif);
}
.expansion_1
{
    background:transparent url(../images/icon_expansion_1.gif) no-repeat scroll right center;
    padding-right:34px;

}
.territory_2
{
    background:transparent url(../images/icon_alliance.gif) no-repeat scroll left center;
    padding-left:13px;
}
.territory_4
{
    background:transparent url(../images/icon_horde.gif) no-repeat scroll left center;
    padding-left:18px;
}
.territory_1
{
    background:transparent url(../images/icon_neutral.gif) no-repeat scroll left center;
    padding-left:13px;
}
.article .territory_1, .article .territory_2,.article .territory_4
{
    padding-left: 2px;
    padding-right: 22px;
    position: relative;
    background-position: center center;
}
#debugPanel
{    
    display: none;
    color: white;
    font-size: 11px;
    font-family: arial;
    width: 200px;    
    /* overflow: auto; */
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    padding: 10px;
    background-color: Black;
    z-index: 1000000;
}

.moveWidget
{
    background-image: url(../images/clear.gif);
    -moz-user-select: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 34px;
    cursor: move; 
}


.tableResultsList a
{
    text-decoration: underline;
}
.tbodyResultsList a
{
    text-decoration: none;
}

.tbodyResultsList a:hover
{
    text-decoration: underline;
}

.tableResultsList
{
    font-size: 13px;      
    background-color: #061118; 
    border: 1px solid #507484;
    width: 100%;
    
}
.theadResultsList td:first-child
{
	border-left: none;
}
.tableResultsList tbody tr td:first-child
{
	border-left: none;	
}
.tableResultsList tbody tr:last-child td
{
	border-bottom: none;
}
.tableResultsList .no-data
{    
    padding: 16px 0px;
    text-align: center;    
}
.imageContentPad
{	
	display: block;
	width: 1066px;
	height: 1px;
}

#iframeAdRight
{			
	visibility: hidden;
	width: 160px;
	height: 600px;
}
#iframeAdComments
{
	visibility: hidden;
	border: 1px solid black;
	width: 300px;
	height: 250px;
}



#divItemListPaging
{
    -moz-user-select: none;
    text-align: right;
    color: #CCCCCC;
    font-size: 10pt;
    padding: 0px 2px 3px;
    float: right;
    
}
#divItemListPagingBottom
{
    -moz-user-select: none;
    text-align: right;
    color: #CCCCCC;
    font-size: 10pt;
    padding: 5px 2px 3px;    
}
.rowItemList
{
    cursor: pointer;
}
.theadResultsList TD
{
    text-align: center;
     -moz-user-select: none;
    font-size: 13px;
    font-weight: bold;
    background-color: #3A4759;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;    
    border-left: 1px solid #303030;   
    border-bottom: 1px solid #303030;
    cursor: pointer;
    white-space: nowrap;
    
    
    
}

.tbodyResultsList TD
{    
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
    color:#DDDDDD;
    padding:4px;
    text-align:center; 
    vertical-align: middle !important;
}


.iconlarge {
    background:transparent none no-repeat scroll 6px;
    height:68px;
    position:relative;
    width:68px;
}
.iconlarge .hover a { border:0pt none; display:block; height:56px; width:56px; }
.iconlarge .tile
{
    background-image:url(../images/icon_border_l.png);
    height:68px;
    width:68px;
}
.iconlarge .hover {
    cursor:default;
    height:56px;
    left:6px;
    position:absolute;
    top:6px;
    width:54px;
    z-index:20;
}
.iconlarge .glow {cursor:default; font-size:18px; font-weight:bold; margin:5px 7px; }
.iconlarge .hilite{display: none;position: absolute; width: 62px; height: 62px; left: 3px; top: 3px; background: url(../images/icon_highlight_l.png);}
.iconmedium { width: 44px; height: 44px; background: 4px 4px no-repeat;position: relative;}
.iconmedium .hilite{position: absolute; width: 38px; height: 38px; left: 3px; top: 3px; background: url(../images/icon_highlight_m.png) -38px 0;}
.iconmedium .tile  { width: 44px; height: 44px; background-image: url(../images/icon_border_m.png) }
.iconmedium .hover { width: 36px; height: 36px; left: 4px; top: 4px; position: absolute; z-index: 20;}
.iconmedium .hover a { border: 0pt none;  display: block;  height:36px; width:36px; }
.iconmedium .glow { font-size: 13px; margin: 4px 6px 4px 6px; cursor: default; font-weight: bold }

.moneyitem, .moneygold, .moneysilver, .moneycopper, .moneyneutral, .moneyalliance, .moneyhorde, .moneyarena, .moneysocket-1, .moneysocket-2, .moneysocket-4, .moneysocket-8
{
    background:transparent none no-repeat scroll right center;
    color:white;
}
a.moneyitem, a.moneysocket-1, a.moneysocket-2, a.moneysocket-4, a.moneysocket-8
{
    border-bottom:1px solid transparent;
    text-decoration:none !important;
}
.moneyitem {
    padding-right:19px;
}

.moneyarena {
    background-image:url(../images/money_arena.gif);
    padding-right:18px;
}
.moneyneutral {
    background-image:url(../images/money_neutral.gif);
    padding-right:14px;
}
.moneyalliance {
    background-image:url(../images/money_alliance.gif);
    padding-right:12px;
}
.moneyhorde {
    background-image:url(../images/money_horde.gif);
    padding-right:16px;
}
.moneygold {
    background-image:url(../images/money_gold.gif);
    padding-right:15px;
}
.moneysilver{
    background-image:url(../images/money_silver.gif);
    padding-right:15px;
}
.moneycopper {
    background-image:url(../images/money_copper.gif);
    padding-right:15px;
}

.iconsmall .hilite {
    background:transparent url(../images/icon_hilite_small.png) no-repeat scroll 0%;
    height:20px;
    left:3px;
    position:absolute;
    top:3px;
    width:20px;
}
.iconsmall {
    background:transparent none no-repeat scroll 4px;
    height:26px;
    position:relative;
    width:26px;
}
.iconsmall .tile {
    background-image:url(../images/icon_border_s.png);
    height:26px;
    width:26px;
}
.iconsmall .hover {
    height:18px;
    left:4px;
    position:absolute;
    top:4px;
    width:18px;
    z-index:20;
}
.iconsmall .hover a {
    border:0pt none;
    display:block;
    height:18px;
    width:18px;
}

.iconsmall .glow
{
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    margin: 2px 5px 2px 4px;
}

.cellItemList
{
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
    padding: 4px;
    text-align: center;
    
}

.sortBtn
{
    padding-bottom: 2px;
    display: none;
}

.previewWindowContainer	    
{
    -moz-user-select: none;
    position: absolute;
    z-index: 20;
}

#previewThumbnailContainer
{
    margin-top: 4px;    
    border: 1px solid #507484;
    
    height: auto;
    min-height: 220px;
    background-color: Black;        
    background: black url(../images/map_loading.gif) no-repeat;
    background-position: center center;
}
#previewThumbnailControls
{
    width: 100%;
    text-align: center;
    
}
#previewPanel
{
    background: url(../images/preview_bg.png);
    background-repeat: no-repeat; 
    position: absolute;
    top: 300px;
    left: 450px;
    width: 490px;
    height: 500px; 
    display: none; 
    z-index: 10000000;    
}
#previewPanelClose
{
    position: absolute; right: 8px;top:5px;width: 31px; height: 31px;
}
#previewPanelClose2
{
    position: absolute; right: 16px;bottom:37px;width: 107px; height: 27px;
}

#previewPanelRotLeft
{
    position: absolute; left: 36px;bottom:33px;width: 39px; height: 37px; 
    -moz-user-select: none;    
}
#previewPanelRotLeft:hover
{
    background: url(../images/button_rotleft_hover.gif);
}
#previewPanelRotRight
{
    position: absolute; left: 90px;bottom:33px;width: 39px; height: 37px; 
    -moz-user-select: none;    
}
#previewPanelRotRight:hover
{
    background: url(../images/button_rotright_hover.gif);
}
#previewPanelRotUp
{
    position: absolute; left: 144px;bottom:33px;width: 39px; height: 37px; 
    -moz-user-select: none;    
}
#previewPanelRotUp:hover
{
    background: url(../images/button_rotup_hover.gif);
}
#previewPanelRotDown
{
    position: absolute; left: 198px;bottom:33px;width: 39px; height: 37px; 
    -moz-user-select: none;    
}
#previewPanelRotDown:hover
{
    background: url(../images/button_rotdown_hover.gif);
}
#previewPanelZoomOut
{
       position: absolute; left: 252px;bottom:32px;width: 38px; height: 38px; 
       -moz-user-select: none;
}
#previewPanelZoomOut:hover
{
    background: url(../images/button_zoomout_hover.gif);
}

#previewPanelZoomIn
{
       position: absolute; left: 306px;bottom:32px;width: 38px; height: 38px; 
       -moz-user-select: none;
}
#previewPanelZoomIn:hover
{
    background: url(../images/button_zoomin_hover.gif);
}

#previewPanelClose2:hover
{
   background: url(../images/button_close_hover.gif);
}
#previewPanelClose:hover
{
    background: url(../images/button_preview_close.gif);
    
}

div.quote 
{
	border: 1px solid #507484;
	background-color: #061118;
	
    /*background-color:#1C1C1C;
    border:1px solid #383838;*/
    color:#DDDDDD;
    line-height:normal;
    margin:10px 15px 10px;
    padding:10px;
}

.small {font-size: 11px;}
.smallGray {font-size: 11px;color: #707070;}
.smallPad {font-size: 11px; padding-top: 3px;}

.moneysocket-1, .socket-1   { padding-left: 26px; background: url(../images/socket_0.gif) no-repeat left center }
.moneysocket-2, .socket-2    { padding-left: 26px; background: url(../images/socket_2.gif) no-repeat left center }
.moneysocket-4, .socket-4 { padding-left: 26px; background: url(../images/socket_4.gif) no-repeat left center }
.moneysocket-8, .socket-8   { padding-left: 26px; background: url(../images/socket_8.gif) no-repeat left center }
.moneysocket-1, .moneysocket-2, .moneysocket-4, .moneysocket-8
{
    padding-left: 0px;
    padding-right: 18px;
    background-position: right center;
    color: White;
} 

.th0
{
    background: url(../images/tooltip.png); 
    background-position: top left;    
}

.th1 
{
    background: url(../images/tooltip.png); 
    background-position: top right;    
}
.th2 
{
    background: url(../images/tooltip.png); 
    background-position: bottom left;    
}
.th3 
{
    background: url(../images/tooltip.png); 
    background-position: bottom right;    
}

.q  { color: #ffd100 !important }
.q0, .q0 a { color: #9d9d9d !important }
.q1, .q1 a { color: #ffffff !important }
.q2, .q2 a { color: #1eff00 !important }
.q3, .q3 a { color: #0070dd !important }
.q4, .q4 a { color: #a335ee !important }
.q5, .q5 a { color: #ff8000 !important }
.q6, .q6 a { color: #e5cc80 !important }
.q7, .q7 a { color: #ff0000 !important }
.q8, .q8 a { color: #ffff98 !important }

.d {color: #ffbb00 }
.r  { color: #ffd100 !important}
.r0, .r0 a { color: #9d9d9d !important}
.r1, .r1 a { color: #ffffff !important}
.r2, .r2 a { color: #1eff00 !important}
.r3, .r3 a { color: #0070dd !important}
.r4, .r4 a { color: #a335ee !important}
.r5, .r5 a { color: #ff8000 !important}
.r6, .r6 a { color: #e5cc80 !important}
.r7, .r7 a { color: #ff0000 !important}
.r8, .r8 a { color: #ffff98 !important}

.c0, .c0 a { color: #FF8040 !important}
.c1, .c1 a { color: #FFFF00 !important}
.c2, .c2 a { color: #40BF40 !important}
.c3, .c3 a { color: #BDBDBD !important}
/*
.tooltip b { font-size: 14px; line-height: 19px; font-weight: normal }
.tooltipBG {position: absolute; top:0px; left: 0px;}
.tooltip td, .tooltip th
{
    color:white;
    font-family:Verdana,sans-serif;
    font-size:12px;
    line-height:17px;
}
.tooltipText
{
    padding: 8px;    
    max-width: 300px;    
}

.tooltipText table { border-spacing: 0; border-collapse: collapse;}
.tooltipTexttd th, .tooltipText td td { background: none }
.tooltipText td th { padding: 0 0 0 4em; text-align: right; font-weight: normal }
.tooltipText td td { padding: 0 }
.tooltip a {text-decoration: none;}
*/

    .tooltip
    {
        max-width: 300px;
    }
    .tooltip table {
        border-collapse:collapse;
        border-spacing:0pt;
/*        border-width:1pt;
        border-style: outset; */
    }
    .tooltip th {
        padding:3px;
    }
    .tooltip td {
        padding: 8px 4px 1px 9px;
    }
    .tooltip td, .tooltip th {
        background:transparent url(../images/tooltip.png) repeat scroll 0% 0%;
        color:white;
        font-family:Verdana,sans-serif;
        font-size:12px;
        line-height:17px;
    }
    .tooltip td td {
        padding:0pt;
    }
    .tooltip td th, .tooltip td td {
        background:transparent none repeat scroll 0%;
    }
    .tooltip td th {
        font-weight:normal;
        padding:0pt 0pt 0pt 4em;
        text-align:right;
    }
    .tooltip td th, .tooltip td td {
        background:transparent none repeat scroll 0%;
    }
    .tooltip b { font-size: 14px; line-height: 19px; font-weight: normal }
    .tooltip a {text-decoration: none;}
    .tooltip a:hover {
        text-decoration:underline;
    }
    .tooltip div.indent {
        padding-left:0.6em;
    }
#itemPanel
{
    display: none;
    position: absolute;top:10px;left:10px;z-index: 100001;            
    top: 0px;
    left: 0px;    
}

#itemPanel1
{
    display: none;
    position: absolute;top:10px;left:10px;z-index: 100001;            
    top: 0px;
    left: 0px;    
}
#itemPanel2
{
    display: none;
    position: absolute;top:10px;left:10px;z-index: 100001;            
    top: 0px;
    left: 0px;    
}



    
#pageKeywords
{
	display: none;
}

#aep_ovrl {
    background-color: transparent;
    -moz-opacity: 0.50; opacity: 0.50;
    top: 0; left: 0; position: fixed;
    width: 100%; height:100%; z-index: 1000;
}
#aep_ww { position: fixed; z-index: 1001; top: 0; left: 0; width: 100%; height: 100%; text-align: center;}


   
#aep_win { background-color: #242424; margin: 20% auto 0 auto; width: 400px; text-align: left; border: 3px solid #404040;  }
#aep_w { padding: 3px; border: 1px solid black;}
#aep_t {color: white; margin: 0 0 2px 3px; font-family: Arial, sans-serif; font-size: 10pt;}
#aep_text {color: black; width: 99%;padding:0px;}
#aep_w span {font-family: Arial, sans-serif; font-size: 10pt;}
#aep_w div {text-align: right; margin-top: 5px;}

.editor
{
    width: 99.5%;
}
.editor-formatting-buttons
{
    padding: 0px;
    width: 100%;
    border: 1px solid #333333;
    border-bottom: 0px;
    background: #E5E5E5;    
}
.editor-formatting-buttons button
{
    border: 1px solid #E5E5E5;
    background: #E5E5E5 none;
    padding: 0px 2px 3px 2px;    
    font-family: Times New Roman !important; 
    font-size: 10pt !important;
    font-weight: bold;
    height: 22px;
    color: #000000;
    cursor: pointer;
    margin: 2px 0px 2px 0px;
}
.editor-formatting-buttons button:hover
{
    background-color: #F2F2F2;
    border-color: black;
}
textarea 
{
    border: 1px solid #333333;
    font-family:Arial,sans-serif;
    font-size:14px;    
}    
.editor textarea 
{ 
    margin:0pt;
    width:100%;    
}
.screenshot-empty-cell
{
    width: 25%;
}
.screenshot-cell 
{    
    cursor:pointer;
    padding:10px 4px;
    text-align:center;
    width: 25%;
    min-height: 150px;
}
.screenshot-cell:hover
{
    background-color: #08161F;
}
.screenshot-cell img {
    border:3px solid #0A1B26;
    margin-bottom:3px;
}
.screenshot-cell-user {
    font-size:11px;
    overflow:hidden;
    padding-bottom:5px;
    width:100%;
}
.screenshot-caption {
    /* height:1.33333em;*/
    left:0pt;
    /* overflow:hidden; */
    padding:1px;
    top:0pt;
    z-index:0;
}
.comment-table-header
{
    border: 0px !important;
    /* background-color:#404040 !important; */
    color:#CCCCCC !important;
    padding: 6px 6px 6px !important;
    font-size: 11px !important;
    text-align: left !important;
    font-weight: normal !important;
}
.comment-table-header a
{
   display: inline !important;
   background-color: transparent !important;
   padding: 0px !important;
   text-decoration: underline !important;
   color: #ffbb00 !important;
   
}
.comment-table-header a:hover
{
    color: #FFFFFF!important;
   
}
.comment-table-header a.selected
{

   text-decoration: none !important;
   color: #FFFFFF !important;
   
}


.comment-rating {
    color:white;
    float:right;
}
.comment {
    color:#DDDDDD;
    font-size:13px;
    line-height:1.5em !important;
    padding: 4px 4px 0px !important;
    border-bottom: 0px !important;          
}
.comment a
{
    text-decoration: underline;
}
      
      
        
                 
 
.smallTab, .smallTabSelected 
{
	text-transform: none;
    outline: 0px;
    margin: 2px 0px 0px;
    border: 0px;            
    cursor:pointer; 
    font-weight:bold;             
    padding:0px 2px 0px 0px; 
    text-align:center; 
    width:auto;
    overflow:visible;     
    background: transparent url(../images/smalltab_right.gif) right no-repeat !important;
    font-family: arial;
    font-size:10px;                   
}
.smallTabSelected 
{
    background: transparent url(../images/smalltab_right_selected.gif) right no-repeat !important;
}
.smallTab span, .smallTabSelected span { 
    margin: 0px;
    position:relative; 
    display:block; 
    white-space:nowrap; 
    padding:0 0 0 6px; 
    height:17px; 
    line-height:17px;
    background:url(../images/smalltab_left.gif) left no-repeat !important;        
    color:#E5E5E5; 
}
.smallTabSelected span
{
    background:url(../images/smalltab_left_selected.gif) left no-repeat !important;
    color:#ffffff; 
}
.smallTab:hover {
    background:url(../images/smalltab_right_hover.gif) right no-repeat !important; 
}
.smallTab:hover span {
    background:url(../images/smalltab_left_hover.gif) left no-repeat !important; 
    color:#ffffff; 
}

#tabGroupMap
{    
    
    width: auto;
    overflow: hidden;
    
}
.map-tabs
{    
    position: relative;
	width: 100%;
	overflow: hidden;
	display: none;
}
.map-links
{
    font-size: 11px;
    color: White;
    background-color: #404040;        
    border-left:3px solid #404040;    
    border-right:3px solid #404040; 
    position:relative;    
    padding-top: 1px;
}
.map-links div
{
    padding-left: 4px;
}
.map
{
	
    background: black url(../images/map_loading.gif) no-repeat;
    background-position: center center;
    border:3px solid #404040;    
    position:relative;
    display: block;
    clear: none;
    
}

.map .map-pin {
    font-size:1px;
    height:1px;
    position:absolute;
    width:1px;

}
.map .map-pin a {
    background:transparent url(../images/map_pin.png) no-repeat scroll 0%;
    display:block;
    height:11px;
    left:-5px;
    position:relative;
    top:-5px;
    width:11px;
}
.map .pin-1 a
{
	background-image: url(../images/map-pin-r.png);
}
.map .pin-2 a
{
	background-image: url(../images/map-pin-y.png);
}
.map .pin-3 a
{
	background-image: url(../images/map-pin-g.png);
}
.map .pin-4 a
{
	background-image: url(../images/map-pin-b.png);
}
.map .pin-5 a
{
	background-image: url(../images/map-pin-p.png);
}
.map .pin-10 a
{
	height: 18px;
	top: -9px;
	background-image: url(../images/map-pin-10.png);
}
.map .pin-11 a
{
	height: 19px;
	top: -9px;
	background-image: url(../images/map-pin-11.png);
}
.map .map-bg
{
    -x-background-x-position:0%;
    -x-background-y-position:0%;
    background-attachment:scroll;
    background-color:transparent;    
    background-repeat:repeat;
    display:block;    
    position:relative;    
}
.map .glow {
    color:white;
    cursor:default;
    font-size:12px;
    font-weight:bold;
    margin:0pt 2px;
    white-space:nowrap;
}
.map-cache
{
    display: none;
}
.rss-container
{
	float: right;
	color:#DDDDDD;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;	
	background: transparent url(../images/rss.gif) no-repeat scroll right center;
	padding-bottom: 2px;
}
.rss-container a
{	
	padding-right: 35px;
	text-decoration: none;
	color: #ffffff;
}
.article-links, .comment-links, .screenshot-links
{
    color:#DDDDDD;
    font-size:11px;    
    padding: 4px 4px 2px 0pt;
    text-align:right;               
    font-family: Arial;
    font-weight: normal;
}

.article-expander, .article-contractor
{    
    font-size:11px;    
    color: #ffffff;
    text-align: left;
    padding: 0px;
    line-height: 11px;
}
.article-expander
{
    padding-top: 4px;
}
.article-contractor
{
    margin-bottom: 8px;
}
.screenshot-links
{
    padding: 0px;
    padding-top: 2px;   
}
.comment-body
{
    /* overflow: auto; */
}
.editor h3, .comment h3 {
	color: white;
	font-size: 14px;
	padding: 0;
	margin: .75em 0 0.25em 0;
}

.comment-body h3.first {
	padding-top: 0;
	margin-top: 0;
}

.comment-links a {
    font-weight:normal;    
}
.comment-header a {
    font-weight: bold;
}
.comment-header
{
    background-color: #0A1B26;
    color:#AAAAAA;
}
.comment-header, .comment-header-bt {
    font-size:11px;
    margin-bottom:4px;
    padding:4px;
}
.comment-lastedit {
    color:#9D9D9D;
    font-size:11px;
    /* font-style:italic; */
    padding-top:4px;
}

.ratePositive
{
    /* background-image: url(../images/rate_post_bg.gif);
    background-repeat: no-repeat;
    width: 23px;
    height: 27px;
*/
    
}

#searchResultsSummary
{    
    border-bottom: 1px solid #274353;
    font-size: 20px;    
    margin-bottom: 12px;
    padding-bottom: 4px;
    display: none;
}
#divSearchResultsCount
{
	font-weight: bold;
	padding-left: 2px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 6px;
	font-size: 15px;
}


#searchcontainer
{
    
    position: relative;    
    padding: 0px;
    margin: 0px;
    display: inline;    
    float: right;
}
.menuContainerRight
{	

	float: right;	
}
.titleSearchCell
{
    padding: 0px;            
    width: 155px;
    float: right;            
}

#inputSearchFilterContainer
{
    
    padding: 0px;   
    /*
    padding-left: 3px; 
    padding-top: 3px;    
    padding-bottom: 6px; 
    padding-right: 14px;                
    background: transparent url("images/bg_filter.gif") no-repeat;
    background-position: 0px 0px;   */
    position: relative;      
    text-align: left; 
    
    display: inline;        
    
    
}
#inputSearchFilterName
{  
    position: relative;
    /* background: transparent;  
    border: none;
    padding-bottom: 3px; 
    padding-right: 8px; 	
    left: 4px;  	
    color: #666666;
    font-size: 12px;  
	font-family: Arial;
	padding: 0px;
	
    height: 18px;
    
	*/
    margin-bottom: 1px;
    margin: 0px;         
    width: 120px;
    
}

#divSearchFilters
{       
    padding-left: 2px;        
    vertical-align: top;    
}
#divRefineContainer
{
	height: 22px;
    padding-bottom: 4px;
}
.previewButton
{
    
  border: none;  
  background: transparent url("../images/bg_preview.gif") no-repeat 0px 0px;  
  cursor: pointer;
  overflow: hidden;
  margin:0px;  
  padding: 0px;
  width: 32px;
  height: 32px;     
}

.previewButton:active {
  background-position: 0 -32px;
}

.previewButton:hover {
  background-position: 0 -32px;
}

.titleMenuContainer
{		
	float:left;	
	position: relative;		
}





.spanSiteName
{
	

	letter-spacing: 1px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	padding-left: 2px;
		
	
}


.inputSelectContainer
{
	width: 218px;
}
.inputSelectContainer SELECT
{
	width: 100%;
}


#divCommentsContainer
{
	background-color: #181818;
	border-left: 3px solid #404040;
	border-right: 3px solid #404040;
	padding: 4px;
}


.divComment
{		
	overflow: hidden;	
	width: 865px;	
}
#commentButton 
{    
    border: none;  
    background: transparent url("../images/bg_comment.gif") no-repeat 0px 0px;  
    cursor: pointer;
    overflow: hidden;
    margin:0px;      
    width: 120px;
    height: 27px;       

}
#commentButton:hover 
{    
    
    background-position: 0px -27px;
}
#textareaComment
{
	font-family: Arial;
	font-size: 13px;
	margin-top: 4px;
	width: 550px;	
}

#cellScreenshotContainer
{		
	vertical-align: top;
}
#cellCommentContainer
{		
	vertical-align: top;
}
#cellCommentAdContainer
{
	text-align: right;
	vertical-align: top;
	width: 300px;
	position: relative;
	float: right;
	
}
#cellCommentAdContainer DIV
{
	position: relative;
	top: -15px;
	text-align: center;
	font-size: 10px;
	color: #666666;			
}
#divCommentPoster
{
	padding: 3px 0px 5px 0px;	
	font-size: 11px;	
	display: none;
}

#verificationImage
{
	width: 100px;
	height: 50px;
	border: 1px solid #507484;
	float: right;
	position: relative;
	top: -4px;
}

.cellPad
{
	width: 70px;
}


/***** Page Template *****/

#layers {
	position: absolute;
	left: 0;
	top : 0;
	z-index: 100000000;
}

#noscript-bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	-moz-opacity: 0.7;
	opacity: 0.7;
	z-index: 9999;
}

#noscript-text {
	position: absolute;
	text-align: center;
	left: 0;
	width: 100%;
	top: 30%;
	font-size: 18px;
	line-height: 1.5em;
	z-index: 10000;
	padding-top: 70px;
	background: url(../images/logo_medium.gif) center top no-repeat;
}

#noscript-text b {
	font-size: 22px;
}

#divMainPrecontents
{
    display: none;   
}
#divLayout {
	min-width: 980px;
	max-width: 1280px;
	margin: 0 auto;
}

#divLayout.fullwidth {
	min-width: 0;
	max-width: none;
	margin: 0 10px;
}

#divHeaderTabs {
	text-align: left;
	padding-top: 105px;
}

#divHeaderTabs dl {
	padding: 0;
	margin: 0;
}

#divHeaderTabs dt {
	display: block;
	float: left;
	margin-right: 5px;
	padding: 0;
}

#divHeaderTabs dl a {
	display: block;
	height: 32px;
	line-height: 32px;
	padding: 0 8px 0 10px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #e5cc80;
	cursor: pointer;
	position: relative;
	/* background: url(/images/header-tabs.gif) left top no-repeat; */
}

#divHeaderTabs dl a span {
	display: block;
	width: 2px;
	height: 32px;
	top: 0;
	right: -2px;
	position: absolute;
	/* background: url(/images/header-tabs.gif) right top no-repeat; */
}

#divHeaderTabs dl ins {
	text-decoration: none;
	position: relative;
	top: 2px;
}

#divHeaderTabs dl a:hover, #divHeaderTabs dl a.open {
	background-position: left -32px;
	color: #e2d2a0;
}

#divHeaderTabs dl a:hover span, #divHeaderTabs dl a.open span {
	background-position: right -32px;
}



#divHeaderTabs dl a.selected {
	top: 1px;
	background-position: left bottom !important;
	color: white !important;
}

#divHeaderTabs dl a.selected span {
	background-position: right bottom !important;
}

#divHeaderTabs dl a.selected ins {
	top: 0;
}

#divHeaderTabs p {
	float: right;
	margin: 0;
	padding: 0;
	color: #dddddd;
	line-height: 32px;
}

#divHeaderTabs p a {
	margin: 0 6px;
}
#spanHomeNews
{
	position: absolute; left:90px;
	top: 375px;
	width: 500px;
	text-align: center;	
}
#home h2, #divHeaderLogo h2 {
	position: absolute;
	left: -2323px;
	top: -2323px;
}

#header-ad {
	position: absolute;
	right: 0;
	width: 728px;
	padding-top: 10px;
	background: url(../images/ads.gif) center top no-repeat;
}

#divTopbarRight {
	position: relative;
	z-index: 100;
}
#divTopbarRightContainer
{
    z-index: 100;
	position: absolute;
	right: 5px;		
	top: 1px;
	z-index: 100;
	/* background-color: red; */
}

#divSearchForm 
{
    z-index: 100;	
	position: relative;	
	/* background:transparent url(../images/bg_search.gif) no-repeat scroll 0px 0px; */		
    
	padding-left: 8px;
	padding-top: 0px;
	top: 4px;
	/* border: 1px solid orange; */
}



#divSearchForm input {	
	color:#666666;
	font-family:Arial,sans-serif;
	font-size:13px;
	width: 180px;
	position: relative;
	top: 1px;
	padding-left:2px;
	margin-right: 0px;
	
}

#morelink {
	padding: 3px 0 3px 8px;
}

#divSidebar {
	position: relative;
}

#divSidebarContents {
	position: absolute;
	right: 1px;
	top: 1px;
	padding: 0 10px;
}

.divSidebarAd {
	padding-top: 10px;
	/* background: url(/images/ads.gif) center top no-repeat; */
}

#contribute-ad {
	float: right;
	width: 300px;
	position: relative;
	top: -10px;
	padding-top: 10px;
	background: url(../images/ads.gif) center top no-repeat;
}


.spanMenuArrow
{
    background:transparent url(../images/menu_arrow.gif) no-repeat scroll right center;
    padding-right:16px;
}
.spanMenuArrowD {
	padding-right: 11px;
	background:transparent url(../images/menu_arrowd.gif) no-repeat scroll right center;
}

.divResultsView {	
	/* border: 3px solid #404040; */
	clear: both;
	/* background-color: #404040; */
	display: none;
}
#resultsContentPanel
{
	display: none;
}
.divResultsView table {
	width: 100%;
	
}

.tableTooltipLink
{     
    width: auto !important;
    border: 0px;    
}

.tableTooltipLink TD
{
    padding: 0px;
    border: 0px;
    vertical-align: middle !important;
}

.divResultsView th {
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	border-bottom: 1px solid #202020;
}


.divResultsView thead div {
	position: relative;
	border-top: 1px solid #707070;
	border-left: 1px solid #707070;
	border-right: 1px solid #303030;
	border-bottom: 1px solid #303030;
}

.divResultsView thead a {
	display: block;
	padding: 4px 0;
	text-decoration: none;
	color: white;
	background-color: #585858;
}

.divResultsView thead a span {
	padding: 0 4px;
}

.divResultsView thead a span span {
	padding: 0;
}

.divResultsView th a:hover {
	background-color: #606060;
}

.divResultsView tr.checked {
	background-color: #242424;
}

.divResultsView tr.checked:hover {
	background-color: #2C2C2C;
}


/* MENU CSS */
.menu {
    position: absolute;
    z-index: 100000000;
    
}

.menu table {
    border-collapse: collapse;
}

.menu table td {
    padding: 0;
    vertical-align: top;
}

.menu p {
    margin: 0;
    padding: 0;
    position: relative;
}

.wowdb-ac-container em, .wowdb-ac-container var, .wowdb-ac-container strong, .menu em, .menu var, .menu strong {
    display: block;
    position: absolute;    
    background: url(../images/menu_shadow.png) no-repeat;
}

.wowdb-ac-container em, .menu em {
    width: 5px;
    top: 0;
    bottom: 0;
    right: -5px;
    background-position: right top;
 
}

.wowdb-ac-container var, .menu var {
    width: 5px;
    height: 6px;
    right: -5px;
    bottom: -6px;
    background-position: right bottom;
}

.wowdb-ac-container strong, .menu strong {
    height: 6px;
    left: 0;
    right: 0;
    bottom: -6px;
    background-position: left bottom;    
}

.menu div {
    border: 1px solid #4d4530;
}

.menu div div 
{
	border: none;    
    white-space: nowrap;
    font-size: 12px;
    background: transparent url(../images/bg_menu_trans.png);
}

.menu span {
    display: block;
    padding: 0 18px 0 0;
}

.menu span span {
    padding: 0 0 0 18px;
}

.menu span.separator {
    padding: 4px 9px;
    background: #181818;
    font-weight: bold;
    cursor: default;
}

.menu a {
    display: block; 
    padding: 4px 4px 4px 4px;
    text-decoration: none;    
}

.menu a.open, .menu a:hover {

    background: #0B538B; 
}

.menucheck {
    background: url(../images/menu_check.gif) left center no-repeat;
}

.menusub {
    background: url(../images/menu_arrow.gif) right center no-repeat;
}

.menuarrow  {
    padding-right: 16px;
    background: url(../images/menu_arrow.gif) right center no-repeat;
}

.menuarrowd {
    padding-right: 11px;
    background: url(../images/menu_arrowd.gif) right center no-repeat;
}

/* For the Cropper */
.cropperTools
{
    text-align:center;
    padding: 2px 4px 0px 4px;
    background-color: #404040;
}
.cropperForm
{
    padding-top:8px;
    
}

.cropperContainer
{    
    visibility: hidden;
    position: relative;
    width: auto;
    overflow: hidden;
    background-color: #000000;
    border:3px solid #404040;    
}

.imgCrop_wrap {
	/* width: 500px;   @done_in_js */
	/* height: 375px;  @done_in_js */
	position: relative;
	cursor: crosshair;
}

/* an extra classname is applied for Opera < 9.0 to fix it's lack of opacity support */
.imgCrop_wrap.opera8 .imgCrop_overlay,
.imgCrop_wrap.opera8 .imgCrop_clickArea { 
	background-color: transparent;
}

/* fix for IE displaying all boxes at line-height by default, although they are still 1 pixel high until we combine them with the pointless span */
.imgCrop_wrap,
.imgCrop_wrap * {
	font-size: 0;
}

.imgCrop_overlay {
	background-color: #000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}

.imgCrop_selArea {
	position: absolute;
	/* @done_in_js 
	top: 20px;
	left: 20px;
	width: 200px;
	height: 200px;
	background: transparent url(castle.jpg) no-repeat  -210px -110px;
	*/
	cursor: move;
	z-index: 2;
}

/* clickArea is all a fix for IE 5.5 & 6 to allow the user to click on the given area */
.imgCrop_clickArea {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0.01;
	filter:alpha(opacity=01);
}

.imgCrop_marqueeHoriz {
	position: absolute;
	width: 100%;
	height: 1px;
	background: transparent url(../images/marqueeHoriz.gif) repeat-x 0 0;
	z-index: 3;
}

.imgCrop_marqueeVert {
	position: absolute;
	height: 100%;
	width: 1px;
	background: transparent url(../images/marqueeVert.gif) repeat-y 0 0;
	z-index: 3;
}

/* 
 *  FIX MARCHING ANTS IN IE
 *	As IE <6 tries to load background images we can uncomment the follwoing hack 
 *  to remove that issue, not as pretty - but is anything in IE?
 *  And yes I do know that 'filter' is evil, but it will make it look semi decent in IE
 *
* html .imgCrop_marqueeHoriz,
* html .imgCrop_marqueeVert {
	background: transparent;
	filter: Invert; 
}
* html .imgCrop_marqueeNorth { border-top: 1px dashed #000; }
* html .imgCrop_marqueeEast  { border-right: 1px dashed #000; }
* html .imgCrop_marqueeSouth { border-bottom: 1px dashed #000; }
* html .imgCrop_marqueeWest  { border-left: 1px dashed #000; }
*/

.imgCrop_marqueeNorth { top: 0; left: 0; }
.imgCrop_marqueeEast  { top: 0; right: 0; }
.imgCrop_marqueeSouth { bottom: 0px; left: 0; }
.imgCrop_marqueeWest  { top: 0; left: 0; }


.imgCrop_handle {
	position: absolute;
	border: 1px solid #333;
	width: 6px;
	height: 6px;
	background: #FFF;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index: 4;
}

/* fix IE 5 box model */
* html .imgCrop_handle {
	width: 8px;
	height: 8px;
	wid\th: 6px;
	hei\ght: 6px;
}

.imgCrop_handleN {
	top: -3px;
	left: 0;
	/* margin-left: 49%;    @done_in_js */
	cursor: n-resize;
}

.imgCrop_handleNE { 
	top: -3px;
	right: -3px;
	cursor: ne-resize;
}

.imgCrop_handleE {
	top: 0;
	right: -3px;
	/* margin-top: 49%;    @done_in_js */
	cursor: e-resize;
}

.imgCrop_handleSE {
	right: -3px;
	bottom: -3px;
	cursor: se-resize;
}

.imgCrop_handleS {
	right: 0;
	bottom: -3px;
	/* margin-right: 49%; @done_in_js */
	cursor: s-resize;
}

.imgCrop_handleSW {
	left: -3px;
	bottom: -3px;
	cursor: sw-resize;
}

.imgCrop_handleW {
	top: 0;
	left: -3px;
	/* margin-top: 49%;  @done_in_js */
	cursor: w-resize;
}

.imgCrop_handleNW {
	top: -3px;
	left: -3px;
	cursor: nw-resize;
}
.imgCrop_dragArea {
	width: 100%;
	height: 100%;
	z-index: 200;
	position: absolute;
	top: 0;
	left: 0;
}

.imgCrop_previewWrap {
	/* width: 200px;  @done_in_js */
	/* height: 200px; @done_in_js */
	overflow: hidden;
	position: relative;
}

.imgCrop_previewWrap img {
	position: absolute;
}
.staticTab
{
    background: transparent url(../images/tab_top.gif) no-repeat scroll 0pt;    
    clear:left;
    height:2.1em;
    margin-top:2em;
    padding:0pt;
}
.staticTab h3 {
    background:#404040 url(../images/tab_top.gif) no-repeat scroll 100% 0pt;
    color:#FFFFFF !important;
    float:left;
    font-size:105% !important;
    font-weight:bold !important;
    height:22px;
    letter-spacing:normal;
    margin: 0pt 0pt 0pt 5px;
    min-width:12em;
    padding: 5px 10px 0px 5px;
    text-align:center;
}

#searchFilterForm
{
    display: none;
}
.fi-numeric
{
    text-align: center;
}
.fc
{
    display: inline;
}

/* Talent Calc Styles  */
#talenttable
{	
    border-collapse: collapse;        
    margin: 0pt auto;
    height: 584px;
        
    
}

#talenttable tr td
{
	padding: 0px;

}
.talent-spell
{
	position: absolute;
	z-index: 1;
	height: 36px;
	width: 36px
}
.talent-build-rating a
{
	text-decoration: none;
	font-size: 11px;
}
.talent-build-rating small
{
	font-weight: normal;
}
.talent-tree-cell
{
	text-align: center;
	padding: 6px !important;	
}
.talent-tree-cell button
{
	margin-left: 4px;
}

.talent-tree-label
{
	font-size: 18px;	
	padding-top: 2px;
}

.talent-tools
{	
	background-color:#061118;
	border:1px solid #507484;
	margin: 0pt auto;
	color: White;
	padding: 4px;
	width: 785px;
}
.talent-tools td
{
	padding: 4px;
}
#talentBuildRating, #talentPointsSpent, #talentPointsRemaining, #talentLevelRequired, #talentLevelCap
{
	font-weight: bold;
}
.talent-tools table
{
	border-collapse: collapse;
	width: 100%;		
}
.talent-tools table table
{


}
.talent-menu
{
	 text-align: center;
	 padding-bottom: 4px;
}

.talent-header
{
	text-align:center;
	padding-bottom: 4px;
	font-weight: bold;
	color: White;
}
.talentTree
{
    border:1px solid #507484;    
    height: 584px;
    width: 266px;
    position: relative;
}
.bubtxt
{
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
    width: 24px;
    height: 21px;
    -moz-user-select: none;
}
.talentBorder 
{
    position: absolute;
    background:transparent repeat scroll 0%;
    height:42px;
    left:1px;
    top:1px;
    width:42px;
}

.inputForm
{
    color: White;   
    padding: 0px;    
}
.inputForm .hint
{
    font-size: 11px;
    color: #999999;
    padding-bottom: 1px;
}
.inputForm h3
{
    margin: 0px 0pt 20px 5px;
    font-size:10pt;
    font-weight:bold;
    line-height:11pt;        
}
.inputForm .instructions
{	
	color: #CCCCCC;
	font-weight: normal;
	margin-top: 8px;
	line-height:13pt;   
	padding-right: 15px;
}
.widgetHelp, .widgetHelpStatic, .widgetHelpAccount
{
    border-color:#507484 transparent transparent;
    border-style:solid;
    border-width:1px 1px 0px;    
    padding:15px 0pt 15px 5px;
    width:726px;
    margin: 0px;
}
.widgetHelpStatic
{
    border-color:#507484;
    border-width:1px;
    padding-left: 15px;
        
}
.helpFocus
{	
	background-color: #061118;    
    border-color: #507484;
    
}

.inputForm .policybox
{
    margin-top: 4px;
    width: 580px; height: 150px; font-size: 11px;
    line-height:14px;
    padding: 3px 2px;
}
.inputFormTable TD
{
   
       
}
.inputFormTable .inputCell
{
    width: 210px;
    vertical-align: top;
    text-align: right;
     padding-right: 10px;
}

.inputFormButtonContainer
{    
    clear: both;       
    text-align: center;
    padding-top: 10px;
}
.helpArea
{
    font-size: 11px;
    padding: 0px;
    padding-right:20px;
    vertical-align:top;
    width:250px;
    float: right;
    display: none;
    line-height: 1.3em;

}
.inputForm .inputLabelError
{    
    background: transparent url(../images/icon_error.gif) no-repeat;
    background-position: 1px 1px;
    padding-left: 20px;
}
.inputFormError, .loginFormError, .inputFormSuccess, .loginFormSuccess
{   
    width:726px; 
    color: #fff;
    padding: 8px 8px 0px 8px;   
    font-size: 12px;
    padding-left: 25px;    
    background-position: 5px 10px;
    display: none;
    background-color: transparent;
    background-repeat: no-repeat;
}
.inputFormError, .loginFormError
{
		background-image: url(../images/icon_error.gif);
}
.inputFormSuccess, .loginFormSuccess
{
		background-image: url(../images/icon_success.gif);
}
.loginFormError, .loginFormSuccess
{
	position:relative;
	background-position: 5px 2px;
	padding-top: 0px;
	top: -6px;
	left: -6px;
	
}
#inputUsername_Status, #inputNickname_Status
{
    padding-left: 238px;
    font-size: 12px;
    padding-bottom:6px;
    line-height: normal;
}
.inputForm .resultSuccess
{
    background: transparent url(../images/icon_success.gif) no-repeat;
    background-position: 220px 1px;
}
.inputForm .resultFailure
{
    background: transparent url(../images/icon_error.gif) no-repeat;
    background-position: 220px 1px;
}
#pinSideSelect
{
    
    height: 17px;
    font-size: 11px;
        
}

/* Homepage CSS */
.home-table
{
    width: 100%;                    
}
.home-table td
{
    padding-top: 60px;
}

.home-panel
{                      
    margin: 20px auto 0px; position: relative; width: 924px; height: 451px; background: transparent url(../images/bg_home2.jpg) top left no-repeat;
}        
.home
{
    background: #03080E url(../images/bg_home.jpg) top center no-repeat; overflow: hidden;
}
.home input
{
	-moz-box-sizing: content-box;
    background-color: #fff;
    background-image: none;
    border: 1px solid black;
    position: absolute;
    top: 205px;
    left: 169px;
    height: 18px;
    width: 322px;
    color: black;
}
#home-search-input
{
	background-position: 310px center;
	background-repeat: no-repeat !important;
}
.home-search-button
{
    position: absolute; top: 205px;
    left: 520px;
}
.home-logo
{
    position: absolute; top: 120px; left: 220px;
    background: transparent url(../images/logo_home.gif);
    width: 213px;
    height: 50px;
}
.home #spanMainMenu
{
    position: absolute; 
    top: 310px;
    left: 75px;            
    width: 520px;
    height: 25px;
    text-align: center;
}
.home-menu-container a
{
    margin-left: 10px;
    font-family: Arial;
    font-size: 13px;
}
.home-menu-container span
{
    
}
.home #divLoginOptions, .home #spanUserMenu
{
    
    position: absolute;     
    top: 10px;
    left: 20px;
    font-weight: normal;               
    padding: 0px;
}
.home .spanMenuButtons
{
    padding: 0px;
}
.home .spanMenuButtons a
{            
    padding-left:6px;
    padding-right:6px;
    font-size: 11px;
    font-family: Arial;
    background: transparent url(../images/menu_div_home.gif) no-repeat scroll right center;                      		
}
.home #pageFooter
{
	color: #999999;
	padding-top: 14px;
}
#editMapInfo
{
	margin-bottom: 4px;
}
#editMapInfo table
{
	line-height: 11pt;
	color: White;
}

#divCommentsFooter
{
	background-color: #404040;	
	padding: 5px;
}
.search-input
{

}
.wowdb-ac-container
{
	position:absolute;
	top: 0px;
    left: 0px;
	z-index:99;
	visibility: hidden;
	padding: 0px;		
	background: transparent url(../images/bg_menu_trans.png);
}
.wowdb-ac-bg
{
	display: none;
	/* background-color: white;
	opacity: 0.9;
	-moz-opacity: 0.9;
	*/
	
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;	
}
.wowdb-ac-m
{
	-moz-box-sizing: border-box;	
	border-collapse: collapse;
	background-color: Transparent;
	/* border:1px solid black; */
	border:1px solid #4D4530;
	cursor:default;	
	font-size:13px;
	line-height:17px;
	margin:0pt;	
	color: #FFBB00;	
	position: relative;
	z-index: 1;
	padding: 0px;
}
.wowdb-ac-m tr
{
	height: 26px;
}
.wowdb-ac-icon
{
	padding: 0px;	
	line-height: 1px;
	padding-left: 2px;
	width: 26px;
}
.wowdb-ac-a
{
	background-color: Transparent;
}
.wowdb-ac-b
{
	background-color: #0B538B;
	color: white;
	
}
.wowdb-ac-c {
	overflow:hidden;
	padding-left:3px;
	text-align:left;
	white-space:nowrap;
}
.wowdb-ac-b .wowdb-ac-d
{
	color: white;
}
.wowdb-ac-d {	
	font-size:10px;
	overflow:hidden;
	padding-left:6px;
	padding-right:3px;
	text-align:right;
	white-space:nowrap;
	color: white;
	
}
