* {
zoom: 1.0;
}

html,body
{
	height: auto;	
}
#main-layout
{

	height: 1100px;
}
#divWrapper {	
	min-width: 0px;
}
#main-layout-center
{
	position: relative;
    display: block;
    min-width: 980px;
}

.menu a {
	min-width: 90%;
}
.spanMenuButtons
{
	padding-top: 12px;
}

.listview th a {
	width: 100%;
}

.tabs-container {
	width: 100%;
}

.reputation {
	width: 99%;
}

.tooltip th {
	height: 8px;
}
.smallTab span, .smallTabSelected span 
{
    position: relative;
    top:1px; 
    padding:0 0 0 4px; 
    margin-left: 2px;
    margin-right: 2px;
    line-height: 15px;
}

#divSearchInput button
{
	position:static;	
}
#divSearchInput input
{
	position: relative;
	top: -2px;
}
#divSearchInput select
{
	top: 1px;
}
#spanBookmarks
{
	top: 1px;
}


button { 	        
	padding: 0 9px 0 0; 	        
    font-size: 11px !important;     
    width:auto; 
    overflow:visible; 
}
button span 
{	
	padding:0 0 0 10px; 
	height:20px; 
	line-height:20px;          
	margin-top:1px; 
}
#divBrowsePathRight {
	margin-top: -4px;
}

#pinSideSelect
{
	height: auto;
}
.buttonContainer table
{
	table-layout:fixed;
}
.buttonContainer table td
{

	text-align: center;	
}